@import url(http://fonts.googleapis.com/css?family=Lato);

body {
    margin: 0;
    background: #ecf0f1;
}

div.clock {
    width: 400px; 
    height: 200px;
    background: #e74c3c;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px; 
    position:fixed;
    text-align: center; 
}

span#countdown {
    font-size: 150px;
    font-family: 'Lato', sans-serif; 
    color: #ecf0f1; 
    vertical-align: middle;
    line-height: 200px;
    position: absolute;
    right: 0; 
}

button {
    margin-top: 210px;
    border: 0;
    padding: 20px;
    font-family: "Helevetica", sans-serif;
    color: white;
    font-size: 26px;
    background: #95a5a6;
}

button:active {
    background: #9baaab;
}
